.jumbotron {
    text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer-row {
    text-align: center;
}

rect {
    fill: blue;
    shape-rendering: crispEdges;
}

.trendline {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.default-circle-color{
    fill: DarkOrange;
}

.highlighted-circle-color{
    fill: Maroon;
    stroke: Black;
    stroke-width: 3px;
}